APP_URL=http://localhost:3334
NODE_ENV=development

# auth

APP_SECRET=bootcampgobarbernode

# Database

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=

#Mongo

MONGO_URL=

#redis

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

#MAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=

# SENTRY

SENTRY_DSN=
